
# Ignore
###################################################################################################################### 
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, VSCode

*.iml

## Directory-based project format:

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# ignore env variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# debug
/bin
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ignore build files
.travis.yml
todo
.svelte-kit/
.next/
out/
build
/build
.vercel
.output
.turbo
 build/**
 dist/**

# ignore pnpm files
.pnpm-debug.log
pnpm-lock.yaml

# misc
.DS_Store
*.pem
static/resources
/turbosvelte-cli
package
/package
vitebook/.vitebook/dist

# Exceptions
###################################################################################################################### 
!packages/libs/*/dist/
!packages/utils/*/dist/
!packages/*/dist/

!apps/bookit/package