/* Global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  /* 
  * { outline: 1px solid purple; } */
  html {
    touch-action: manipulation;
  }

  button, textarea, input, select, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* button, textarea, input, select, a {
    @apply select-none focus:bg-slate-700/40 focus:ring-4 focus:ring-white dark:focus:bg-slate-700/40 dark:focus:ring-4 dark:focus:ring-white
  } */
}

@layer components {

  /* Active Header */
  html:not(.nav-open) header.active > .header-container { background: white; filter: invert(1); color: black;}
  html.dark:not(.nav-open) header.active > .header-container { background: black; filter: invert(1); color: white;}

  .container {
    @apply mx-auto px-8 sm:px-0;
  }

  .img-icon {
    opacity: .65; filter: invert(71%) sepia(25%) saturate(249%) hue-rotate(175deg) brightness(88%) contrast(85%);
  }

  .dark .img-icon {
    opacity: .5; filter: invert(48%) sepia(25%) saturate(418%) hue-rotate(176deg) brightness(86%) contrast(84%);
  }

  .linktext {
    @apply 
      font-medium
      no-underline
      text-transparent bg-clip-text bg-gradient-to-r 
      
      from-slate-400
      to-slate-400

      
      dark:from-slate-500
      dark:to-slate-500;
  }

  .linktext:hover {
    @apply 
      text-transparent bg-clip-text bg-gradient-to-r 
      from-pink-600 
      via-yellow-500
      to-green-500
      
      dark:from-sky-400 
      dark:via-purple-500 
      dark:to-pink-500;
  }

  /* Menu.svelte
  ****************************************/
  .mobile-nav .logo img { height: 3rem; }

  /* Scrollbar.svelte
  ****************************************/
  html,
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  html {
    
    /* Track */
    --svrollbar-track-width: 32px;
    --svrollbar-track-background:	initial;
    --svrollbar-track-radius:	initial;
    --svrollbar-track-opacity:	0;
    --svrollbar-track-shadow:	initial;

    /* Thumb */
    --svrollbar-thumb-width: 16px;
    --svrollbar-thumb-radius:	100px;
    --svrollbar-thumb-shadow:	initial;
    --svrollbar-thumb-opacity: 1;
    --svrollbar-thumb-background: black;
    /* --svrollbar-thumb-background:  
      linear-gradient( -60deg, 
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, .15) 40%, 
        rgba(0, 0, 0, .15) 60%, 
        rgba(0, 0, 0, 1)
      ); */
  }

  html .v-scrollbar { transform: scale(.98); z-index: 20; }
  /* html .v-thumb { 
    border: 1px solid black;
    backdrop-filter: blur(20px) brightness(100%);
    -webkit-backdrop-filter: blur(20px) brightness(100%); 
  } */
  
  /* html .v-track    {  } */
  /* html .v-thumb    {  } */

  html.dark {

    /* Thumb */
    /* --svrollbar-thumb-background:  rgba(255,255,255,.5); */
    --svrollbar-thumb-background:  
      linear-gradient( -60deg, 
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, .65) 40%, 
        rgba(255, 255, 255, .65) 60%, 
        rgba(255, 255, 255, 1)
      );
  }

  html.dark .v-thumb { 
    border: 1px solid white;
    backdrop-filter: blur(20px) brightness(1500%);
    /* backdrop-filter: blur(10px) saturate(200%) brightness(200%); */
    -webkit-backdrop-filter: blur(20px) brightness(1500%); 
  }
}