<script>
  let {{ lowerCaseNoSpace name }} = '<{{ pascalCase name }} />';
</script>

<div class="bg-black text-white dark:bg-white dark:text-black py-2 px-4 rounded-full">
  { {{ lowerCaseNoSpace name }} }
  <slot></slot>
</div>

<style>

</style>