<script>
  let {{ lowerCaseNoSpace name }} = '<{{ name }} />';
</script>

<div class="bg-black text-white dark:bg-white dark:text-black py-2 px-4 rounded-full {$$props.class || ''}">
  { {{ lowerCaseNoSpace name }} }
</div>