/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    touch-action: manipulation;
  }
  html, body {
    /* @apply min-h-full; */
  }

  button, textarea, input, select, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* button, textarea, input, select, a {
    @apply select-none focus:bg-slate-700/40 focus:ring-4 focus:ring-white dark:focus:bg-slate-700/40 dark:focus:ring-4 dark:focus:ring-white
  } */
}

@layer components {     

  /* Active Header */
  html:not(.nav-open) header.active > .header-container { background: white; filter: invert(1); color: black;}
  html.dark:not(.nav-open) header.active > .header-container { background: black; filter: invert(1); color: white;}

  .container {
    @apply mx-auto px-8 sm:px-0;
  }

  .button {
    /* @apply px-8 py-3 border-4 border-black bg-black text-white font-medium text-3xl leading-tight uppercase rounded-full shadow-md hover:bg-slate-700 hover:shadow-lg focus:bg-slate-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-800 active:shadow-lg transition duration-150 ease-in-out; */
    @apply px-8 py-3 border-4 border-black bg-black text-white font-medium text-3xl leading-tight uppercase rounded-full shadow-md focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out;

  }

  .button-outline {
    @apply button bg-black/80 hover:bg-black;
  }

  .img-icon {
    opacity: .65; filter: invert(71%) sepia(25%) saturate(249%) hue-rotate(175deg) brightness(88%) contrast(85%);
  }

  .dark .img-icon {
    opacity: .5; filter: invert(48%) sepia(25%) saturate(418%) hue-rotate(176deg) brightness(86%) contrast(84%);
  }

  .linktext {
    @apply 
      font-medium
      no-underline
      text-transparent bg-clip-text bg-gradient-to-r 
      
      from-slate-400
      to-slate-400

      
      dark:from-slate-500
      dark:to-slate-500;
  }

  .linktext:hover {
    @apply 
      text-transparent bg-clip-text bg-gradient-to-r 
      from-pink-600 
      via-yellow-500
      to-green-500
      
      dark:from-sky-400 
      dark:via-purple-500 
      dark:to-pink-500;
  }
}


