<script>
  import { Button } from '@packages/ui';
</script>

<p>I'm a component for the {{properCase name}} app! I don't do anything though.</p>

<p>here's a <Button>{{properCase name}} Button</Button> that does nothing too!</p>